.cards {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);

}

.cards > h3 {
    position: absolute;
    bottom: 10px;
    color: white;
    background: rgba(0,0,0,0.3);
    width: 200px;
    padding: 20px;
    margin: 0;
    border-radius: 4px;
}

.tindercard__Container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.Swipe {
    position: absolute;
}

